@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  /* padding: 20px 60px; */
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
